html {
  font-family: helvetica
}

body {
  margin: 0;
  background-color: rgb(77, 67, 67)
}

p {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  color: white;
}

.nav-div ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0;
}

.nav-div ul li {
  padding-right: 25px;
}

ul {
  margin: 0
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.footer {
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}